# Entorno virtual
venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# VS Code
.vscode/
*.code-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Base de datos (si usas)
*.db
*.sqlite

# Archivos de configuración local
.env
*.local